
@media only screen and (min-width: 1368px) {
    .project-wrapper .container {
        max-width: 100%;
    }
    .cycle-img {
        max-width: 800px;
    }
    .f-s-68 {
        font-size: 68px !important;
    }
    .our-users-groups .card-box.user_images h2{
        font-size: 36px !important;
    }
    .our-users-groups .card-box.user_images .row .col.text-center{

        padding-bottom: 45px;
    }
    .rounded-md {
        border-radius: .375rem;
    }
}

@media only screen and (min-width: 1268px) {

    footer .bottom-bar{
        padding: 0;
    }

    footer .bottom-bar .nav-bar-bottom .popup {
        display: inline-block;
        position: relative;
        height: 38px;
        text-align: center;
        line-height: 38px;
    }
    footer .bottom-bar .nav-bar-bottom .popup .popup-content {
        bottom: 30px;
    }
    .home-section.layout-6 .vertical-search {
        margin-bottom: 150px;
    }

    .home-section.layout-6 .arrow-light .slick-next {
        right: -40px;
        left: initial;
    }
    .home-section.layout-6 .arrow-light .slick-prev {
        left: -50px;
    }
    .home-section.layout-6 .home-main h1 {
        font-size: 33px;
    }

    .home-content {
        padding: 10px 20px;
    }

    .home-section.layout-6 .arrow-light .slick-arrow {
        top: 22%;
    }
    body {
        transition: transform 0.3s ease; /* Hiá»‡u á»©ng Ä‘áº©y body */
        overflow-x: hidden;
    }
    body.menu-open {
        overflow: hidden !important;
        transform: translateX(-320px); /* Äáº©y body sang pháº£i theo chiá»u rá»™ng menu */
    }
    .q-drawer {
        width: 320px !important;
        transform: translateX(0px);
        position: static !important;
        margin-left: 0 !important;
    }
    [dir=rtl] .system-modal-left {
        left: 20%;
        width: 350px;
    }

    .system-modal-left {
        /* position: fixed;
        top: 0;
        right: -320px;
        z-index: 99999999999;
        width: 320px;
        height: 100vh;
        transition: right 0.3s ease;
        overflow-y: auto;
        overflow-x: hidden; */

        position: absolute;
        top: 36px;
        left: 62%;
        /* transform: translate(-50%, -50%); */
        width: 320px;
        height: 90vh;

        text-align: center;
        padding: 20px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    body.menu-open .system-modal-left {
        /* transform: translateX(300px); */
    }
    .q-item {
        width: 97%;
        padding: 3px 7px;
    }

    .system-modal-left .side-bar {
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 0;
    }

    .system-modal-left .close-modal-left {
        background-color: #ef4444;
        color: white;
        position: absolute;
        display: inline-block;
        top: 3px;
        right: inherit;
        left: 250px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        height: 40px;
        font-size: 20px;
        border-radius: 9999px;
        cursor: pointer;
        z-index: 999999999999;
    }
    .q-item {
        min-height: 48px;
        padding: 8px 16px;
        color: inherit;
        transition: color .3s, background-color .3s
    }

    .q-item__section--side {
        color: #757575;
        align-items: flex-start;
        width: auto;
        min-width: 0;
        max-width: 100%
    }

    [dir=ltr] .q-item__section--side {
        padding-right: 16px
    }

    [dir=rtl] .q-item__section--side {
        padding-left: 16px
    }

    .q-item__section--side > .q-icon {
        font-size: 18px
    }

    .q-item__section--side > .q-avatar {
        font-size: 40px;
    }

    .q-item__section--avatar {
        color: inherit;
        min-width: 56px
    }

    .q-item__section--thumbnail img {
        width: 100px;
        height: 56px
    }

    .q-item__section--nowrap {
        white-space: nowrap
    }

    [dir=ltr] .q-item > .q-item__section--thumbnail:first-child, [dir=ltr] .q-item > .q-focus-helper + .q-item__section--thumbnail {
        margin-left: -16px
    }

    [dir=rtl] .q-item > .q-item__section--thumbnail:first-child, [dir=rtl] .q-item > .q-focus-helper + .q-item__section--thumbnail {
        margin-right: -16px
    }

    [dir=ltr] .q-item > .q-item__section--thumbnail:last-of-type {
        margin-right: -16px
    }

    [dir=rtl] .q-item > .q-item__section--thumbnail:last-of-type {
        margin-left: -16px
    }

    .q-item__label {
        line-height: 1.2em !important;
        max-width: 100%
    }

    .q-item__label--overline {
        color: #000000b3
    }

    .q-item__label--caption {
        color: #0000008a
    }

    .q-item__label--header {
        color: #757575;
        padding: 16px;
        font-size: .875rem;
        line-height: 1.25rem;
        letter-spacing: .01786em
    }

    .q-separator--spaced + .q-item__label--header, .q-list--padding .q-item__label--header {
        padding-top: 8px
    }

    .q-item__label + .q-item__label {
        margin-top: 4px
    }

    .q-item__section--main {
        width: auto;
        min-width: 0;
        max-width: 100%;
        flex: 10000 1 0%
    }

    [dir=ltr] .q-item__section--main + .q-item__section--main {
        margin-left: 8px
    }

    [dir=rtl] .q-item__section--main + .q-item__section--main {
        margin-right: 8px
    }

    .q-item__section--main ~ .q-item__section--side {
        align-items: flex-end
    }

    [dir=ltr] .q-item__section--main ~ .q-item__section--side {
        padding-right: 0;
        padding-left: 16px
    }

    [dir=rtl] .q-item__section--main ~ .q-item__section--side {
        padding-left: 0;
        padding-right: 16px
    }

    [dir=ltr] .q-item__section--main.q-item__section--thumbnail {
        margin-left: 0;
        margin-right: -16px
    }

    [dir=rtl] .q-item__section--main.q-item__section--thumbnail {
        margin-right: 0;
        margin-left: -16px
    }

    .q-list--bordered {
        border: 1px solid rgba(0, 0, 0, .12)
    }

    .q-list--separator > .q-item-type + .q-item-type, .q-list--separator > .q-virtual-scroll__content > .q-item-type + .q-item-type {
        border-top: 1px solid rgba(0, 0, 0, .12)
    }

    .q-list--padding {
        padding: 8px 0
    }

    .q-list--dense > .q-item, .q-item--dense {
        min-height: 32px;
        padding: 2px 16px
    }

    .q-list--dark.q-list--separator > .q-item-type + .q-item-type, .q-list--dark.q-list--separator > .q-virtual-scroll__content > .q-item-type + .q-item-type {
        border-top-color: #ffffff47
    }

    .q-list--dark, .q-item--dark {
        color: #fff;
        border-color: #ffffff47
    }

    .q-list--dark .q-item__section--side:not(.q-item__section--avatar), .q-item--dark .q-item__section--side:not(.q-item__section--avatar) {
        color: #ffffffb3
    }

    .q-list--dark .q-item__label--header, .q-item--dark .q-item__label--header {
        color: #ffffffa3
    }

    .q-list--dark .q-item__label--overline, .q-list--dark .q-item__label--caption, .q-item--dark .q-item__label--overline, .q-item--dark .q-item__label--caption {
        color: #fffc
    }

    .q-item {
        position: relative
    }

    .q-item.q-router-link--active, .q-item--active {
        color: var(--q-primary)
    }

    .q-knob {
        font-size: 48px
    }

    .q-knob--editable {
        cursor: pointer;
        outline: 0
    }

    .q-knob--editable:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50%;
        box-shadow: none;
        transition: box-shadow .24s ease-in-out
    }

    .q-knob--editable:focus:before {
        box-shadow: 0 1px 5px #0003, 0 2px 2px #00000024, 0 3px 1px -2px #0000001f
    }

    body.body--dark .q-knob--editable:focus:before {
        box-shadow: 0 1px 5px #fff3, 0 2px 2px #ffffff24, 0 3px 1px -2px #ffffff1f
    }

    .q-layout {
        width: 100%;
        outline: 0
    }

    .q-layout-container {
        position: relative;
        width: 100%;
        height: 100%
    }

    .q-layout-container .q-layout {
        min-height: 100%
    }

    .q-layout-container > div {
        transform: translateZ(0)
    }

    .q-layout-container > div > div {
        min-height: 0;
        max-height: 100%
    }

    .q-layout__shadow {
        width: 100%
    }

    .q-layout__shadow:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: 0 0 10px 2px #0003, 0 0 10px #0000003d
    }

    .q-layout__section--marginal {
        background-color: var(--q-primary);
        color: #fff
    }

    .q-header--hidden {
        transform: translateY(-110%)
    }

    .q-header--bordered {
        border-bottom: 1px solid rgba(0, 0, 0, .12)
    }

    .q-header .q-layout__shadow {
        bottom: -10px
    }

    .q-header .q-layout__shadow:after {
        bottom: 10px
    }

    .q-footer--hidden {
        transform: translateY(110%)
    }

    .q-footer--bordered {
        border-top: 1px solid rgba(0, 0, 0, .12)
    }

    .q-footer .q-layout__shadow {
        top: -10px
    }

    .q-footer .q-layout__shadow:after {
        top: 10px
    }

    .q-header, .q-footer {
        z-index: 2000
    }

    .q-drawer {
        position: absolute;
        top: 0;
        bottom: 0;
        background: #fff;
        z-index: 1000
    }

    .q-drawer--on-top {
        z-index: 3000
    }

    [dir=ltr] .q-drawer--left {
        left: 0;
        transform: translate(-100%)
    }

    [dir=rtl] .q-drawer--left {
        right: 0;
        transform: translate(100%)
    }

    [dir=ltr] .q-drawer--left.q-drawer--bordered {
        border-right: 1px solid rgba(0, 0, 0, .12)
    }

    [dir=rtl] .q-drawer--left.q-drawer--bordered {
        border-left: 1px solid rgba(0, 0, 0, .12)
    }

    [dir=ltr] .q-drawer--left .q-layout__shadow {
        left: 10px;
        right: -10px
    }

    [dir=rtl] .q-drawer--left .q-layout__shadow {
        right: 10px;
        left: -10px
    }

    [dir=ltr] .q-drawer--left .q-layout__shadow:after {
        right: 10px
    }

    [dir=rtl] .q-drawer--left .q-layout__shadow:after {
        left: 10px
    }

    [dir=ltr] .q-drawer--right {
        right: 0;
        transform: translate(100%)
    }

    [dir=rtl] .q-drawer--right {
        left: 0;
        transform: translate(-100%)
    }

    [dir=ltr] .q-drawer--right.q-drawer--bordered {
        border-left: 1px solid rgba(0, 0, 0, .12)
    }

    [dir=rtl] .q-drawer--right.q-drawer--bordered {
        border-right: 1px solid rgba(0, 0, 0, .12)
    }

    [dir=ltr] .q-drawer--right .q-layout__shadow {
        left: -10px
    }

    [dir=rtl] .q-drawer--right .q-layout__shadow {
        right: -10px
    }

    [dir=ltr] .q-drawer--right .q-layout__shadow:after {
        left: 10px
    }

    [dir=rtl] .q-drawer--right .q-layout__shadow:after {
        right: 10px
    }

    .q-drawer-container:not(.q-drawer--mini-animate) .q-drawer--mini {
        padding: 0 !important
    }

    .q-drawer-container:not(.q-drawer--mini-animate) .q-drawer--mini .q-item, .q-drawer-container:not(.q-drawer--mini-animate) .q-drawer--mini .q-item__section {
        text-align: center;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        min-width: 0
    }

    .q-drawer-container:not(.q-drawer--mini-animate) .q-drawer--mini .q-item__label, .q-drawer-container:not(.q-drawer--mini-animate) .q-drawer--mini .q-item__section--main, .q-drawer-container:not(.q-drawer--mini-animate) .q-drawer--mini .q-item__section--side ~ .q-item__section--side {
        display: none
    }

    .q-drawer--mini .q-mini-drawer-hide, .q-drawer--mini .q-expansion-item__content {
        display: none
    }

    .q-drawer--mini-animate .q-drawer__content {
        overflow-x: hidden !important;
        white-space: nowrap
    }

    .q-drawer--standard .q-mini-drawer-only, .q-drawer--mobile .q-mini-drawer-only, .q-drawer--mobile .q-mini-drawer-hide {
        display: none
    }

    .q-drawer__backdrop {
        z-index: 2999 !important;
        will-change: background-color
    }

    .q-drawer__opener {
        z-index: 2001;
        height: 100%;
        width: 15px;
        -webkit-user-select: none;
        user-select: none
    }

    .q-layout, .q-header, .q-footer, .q-page {
        position: relative
    }

    .q-page-sticky--shrink {
        pointer-events: none
    }

    .q-page-sticky--shrink > div {
        display: inline-block;
        pointer-events: auto
    }
    .q-icon {
        line-height: 1;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        letter-spacing: normal;
        text-transform: none;
        white-space: nowrap;
        word-wrap: normal;
        text-align: center;
        position: relative;
        box-sizing: content-box;
        fill: currentColor;
        font-size: 17px;
    }

    .q-btn {
        display: inline-flex
    ;
        flex-direction: column;
        align-items: stretch;
        position: relative;
        outline: 0;
        border: 0;
        vertical-align: middle;
        font-size: 14px;
        line-height: 1.715em;
        text-decoration: none;
        color: inherit;
        background: transparent;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        width: auto;
        height: auto;
        cursor: default;
        padding: 4px 16px;
        min-height: 2.572em;

    }
    .q-btn span {
        cursor: pointer;
    }

    .home-video-slider.arrow-light .slick-next {
        right: -40px;
        left: initial;
    }
    .home-video-slider.arrow-light .slick-prev {
        left: -40px;
    }

}

@media only screen and (min-width: 1020px) and (max-width: 1200px) {

    [dir="rtl"] .container {
        max-width: 980px;
    }

    [dir="rtl"] .slick-next {
        display: none !important;
    }

    .single-property {
        margin-top: 330px;
    }
    .single-property-section {
        bottom: -350px;
    }
    .agent-section .agent-image .overlay-content span {
        display: none;
    }
    .agent-section .agent-image .overlay-content {
        top: inherit;
        opacity: 1;
        bottom: 0
    }

    div.left-sidebar .property-details h4 {
        margin: 0 0 10px 0;
        font-size: 15px;
    }
    span.step-label {
        font-size: 11px;
    }
    .container.create-property-form {
        max-width: 96%;
    }

    .list-franchise-item .col-md-3 {
        width: 50% !important;
    }

    .franchise-owner-item .col-md-3 {
        width: 50% !important;
        margin-bottom: 20px;
    }

    .franchise-intro .col-md-6{
        width: 100% !important;
        margin-bottom: 20px;
    }

    .duties-row .col-md-3{
        width: 50%;
    }

    [dir="ltr"] .banner-ttext, .pt-\[100px\],
    [dir="ltr"]  .w-\[600px\]{
        margin: 0 auto;
        text-align: center;
    }

    .grid-ctst {
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }

    [dir="ltr"] .grid-ctst.adv-ct li{
        text-align: center;
    }
    .grid-ctst.adv-ct li img{
        display: block;
        margin: 0 auto;
        float: none;
    }

    [dir="ltr"] .lst-academy {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
        text-align: center;
    }
    .lst-academy li i{
        display: block;
        margin: 0 auto;
    }

    .ct-free-advancetages .free-c1{
        width: 100%;
    }
    .ct-free-advancetages .free-c1 img{
        display: block;
        margin: 20px auto;
    }

    .ct-free-advancetages .col-md-9 {
        width: 100%;
    }
    .ct-free-advancetages .col-md-9 .col-md-3{
        width: 50%;
    }

    .w-\[900px\] {
        width: 100% !important;
        /* text-align: center; */
        padding: 0;
    }

    .excludesive-tct .col-md-3{
        width: 50%;
    }

    #regService .col-md-6 {
        width: 100%;
    }

    .col6-100 .col-md-6{
        width: 100%;
        margin-bottom: 20px;
    }

    .f-r-col .col-md-3,
    .f-r-col .col-md-6 {
        width: 100%;
        margin-bottom: 20px;
    }
    [dir="ltr"] .f-r-col .col-md-3 {
        text-align: center;
    }
    .f-r-col .col-md-3 img {
        display: block;
        margin: 0 auto;
    }

    [dir="ltr"] .buy-r-pa .col-md-2 {
        width: 33.33%;
        text-align: center;
    }

    .buyer_pack_2 .col-md-6,
    .buyer_pack_3 .col-md-6 {
        width: 100%;
    }

    .flex-wct .col{
        flex-basis: 50%;
        margin-bottom: 30px;
    }

    .fs-4 {
        margin-bottom: 20px;
    }

    .col-package-des .col-md-6{
        width: 100%;
        margin-bottom: 20px;
    }
    .col-package-des .col-md-6 img{
        display: block;
        margin: 0 auto;
    }

    .w100-mb-r .col-3 {
        width: 100%;
        margin-bottom: 20px;
    }

    .grid-ffx {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }

    .f-s-68 {
        font-size: 45px !important;
    }

    .col100-mb .col-lg-5,
    .col100-mb .col-lg-7{
        width: 100%;
        margin-bottom: 30px;
    }

    .col-ct-mb .col-sm-3{
        width: 50%;
        margin-bottom: 30px;
    }

    div.grid-cols-5 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .km-number .text-white p{
        color: #fff;
    }

    div.grid-cols-6 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .our-users-groups .card-box.user_images h2{
        font-size: 30px !important;
    }
    .our-users-groups .card-box.user_images .row .col.text-center{

        padding-bottom: 45px;
    }

    /* home */
    .slider-h1 {
        font-size: 21px !important;
    }

    .home-section.layout-6 .home-main .container > .row {
        min-height: 650px;
        padding-top: 0;
        height: 650px;
    }
    .home-section.layout-6 .home-main {
        min-height: auto;
        height: 650px;
    }
    .video-foreground iframe {

        top: -90px !important;

    }

    div.statisticsbox {
        margin: 20px 0 !important;
    }

    .d-lg-block.h-mnipad {
        display: none !important;
    }

    .q-item__section--avatar {
        color: inherit;
        min-width: 56px;
    }
    .q-item__section--side {
        color: #757575;
        align-items: flex-start;
        width: auto;
        min-width: 0;
        max-width: 100%;
    }
    .row, .column, .flex {
        display: flex;
        flex-wrap: wrap;
    }
    .column {
        flex-direction: column;
    }
    .q-avatar {
        position: relative;
        vertical-align: middle;
        display: inline-block;
        border-radius: 50%;
        font-size: 48px;
        height: 1em;
        width: 1em;
    }
    .q-item__section--side > .q-avatar {
        font-size: 40px;
    }
    #q-app {
        width: 100%;
    }
    .q-layout, .q-header, .q-footer, .q-page {
        position: relative
    }
    .q-drawer--on-top {
        z-index: 3000;
    }
    .q-drawer {
        top: 0;
        bottom: 0;
        background: #fff;
    }
    .fit {
        width: 100% !important;
        height: 100% !important;
    }
    .scroll, .scroll-x, .scroll-y {
        -webkit-overflow-scrolling: touch;
        will-change: scroll-position;
    }
    .scroll, body.mobile .scroll--mobile {
        overflow: auto;
    }
    .no-wrap {
        flex-wrap: nowrap;
    }
    .q-item {
        min-height: 48px;
        padding: 8px 16px;
        color: inherit;
        transition: color .3s, background-color .3s;
    }

    .relative-position {
        position: relative;
    }
    .collapse.show {
        display: block !important;
        visibility: visible !important;
    }
    .q-avatar__content {
        font-size: .5em;
        line-height: .5em;
    }
    .q-touch {
        -webkit-user-select: none;
        user-select: none;
        user-drag: none;
        -khtml-user-drag: none;
        -webkit-user-drag: none
    }

    .q-touch-x {
        touch-action: pan-x
    }

    .q-touch-y {
        touch-action: pan-y
    }
    .q-dialog__inner > div {
        pointer-events: all;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        will-change: scroll-position;
        border-radius: 4px
    }
    .overflow-auto {
        overflow: auto !important
    }

    .overflow-hidden {
        overflow: hidden !important
    }

    .overflow-hidden-y {
        overflow-y: hidden !important
    }

    .hide-scrollbar {
        scrollbar-width: none;
        -ms-overflow-style: none
    }

    .hide-scrollbar::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none
    }
    .dimmed:after, .light-dimmed:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0
    }

    .dimmed:after {
        background: rgba(0, 0, 0, .4) !important
    }

    .light-dimmed:after {
        background: rgba(255, 255, 255, .6) !important
    }

    .circle-t {

        font-size: 30px !important;
    }
    .f14px {
        font-size: 19px !important;
    }

    .f-r-col .col-md-3, .f-r-col .col-md-6 {
        width: 100%;
        margin-bottom: 20px;
    }

    .ff1024 {

        padding-left: 25px !important;
    }

    ol.ol-step li.flex svg{
        display: none;
    }

    [dir="rtl"] .agent-section .agent-content .row .col:last-child {
        margin-left: 0 !important;
        position: relative;
    }
    [dir="rtl"] .agent-section .agent-content .row .col:last-child a{
        left: 20px;
        position: absolute;
    }

    .sb-chat-btn {
        bottom: 86px !important;
    }
}



@media only screen and (min-width: 600px) and (max-width: 1025px) {

    span.step-label {
        font-size: 11px;
    }



    /* property search */
    #properties-filter-form .flex.gap-x-3{
        display: block;
    }
    #properties-filter-form .flex.gap-x-3 .fs-item{
        width: 48%;
        float: left;
        margin: 7px;
    }

    #listing_ajax_container .property-grid .col-md-3.wow.fadeInUp{
        width: 50%;
    }
    .save_search.fs-item div {
        width: 100%;
    }

    #properties-filter-form .flex.gap-x-3 .fs-item .fw-mbv{
        width: 100%;
        left: 0;
    }

    #properties-filter-form .flex.gap-x-3 .fs-item .bt-bed-bath button{
        padding:25px 17px 10px 17px;
    }

    footer {
        margin-top: 40px;
    }

    /* Map search */

    #google_map_prop_list_sidebar .filter-panel{
        padding: 15px;
    }
    div#google_map_prop_list_sidebar #listing_ajax_container {
        max-width: 100% !important;
        margin: 0;
        padding: 10px;
    }

    div#google_map_prop_list_sidebar,
    div.property_listing{
        position: relative;
        width: 100%;
        top: inherit;
    }

    div#google_map_prop_list_wrapper {
        position: relative;
        width: 100%;
        top: inherit;
    }
    div#google_map_prop_list_wrapper #gmap_wrapper,
    div#google_map_prop_list_wrapper #googleMap{
        height: 550px !important;
    }

    div#google_map_prop_list_sidebar {
        height: 700px;
    }

    .w100-mb-r .col-3 {
        width: 98%;
    }

    .fx-container {
        max-width: 100%;
    }

    .fx-p-2 {
        padding-left: 25px !important;
    }


}



@media only screen and  (max-width: 991px) {

    [dir="rtl"] .slick-next {
        display: none !important;
    }
    .agent-section .agent-image .overlay-content span {
        display: none;
    }

    .agent-section .agent-image .overlay-content {
        top: inherit;
        opacity: 1;
        bottom: 0
    }

    .filter-cards .advance-card>h6 {
        font-size: 23px;
    }

    .property-section .feature-slider {
        height: 550px;
    }
    div.single-property-section .left-single h2 {
        margin-bottom: 10px !important;
    }
    .single-property-section .single-title .left-single .d-flex {
        display: block !important;
    }
    .filter-cards .advance-card.feature-card + .advance-card {
        margin-top: 60px;
    }

    .property-section .title-3 h2 {
        margin: 16px 0 12px;
    }

    .project-wrapper .left-sidebar {
        width: 100%;
        position: static;
        margin-bottom: 50px;
    }
    .project-single .single-sidebar {
        padding-bottom: 120px;
    }

    .ol-step {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: stretch;

    }
    span.step-label {
        display: none;
    }

    .create-property-form .col-3,
    .create-property-form .col-4 {
        width: 50%;
    }

    .credit-row .md\:col-span-4, .discount-row .md\:col-span-4{
        grid-column: span 6 / span 6;
    }

    .create-property-form .md\:col-span-4{
        grid-column: span 6 / span 6;
    }
    .add-wrap, .rm-wrap {
        font-size: 17px;
        top: -3px !important;
        right: -27px !important;
        border-radius: 50%;
        border: 1px solid;
        width: 24px;
        height: 24px;
        text-align: CENTER;
    }
    .distance-row .md\:col-span-3 {
        grid-column: span 6 / span 6;
    }

    .create-property-form .span-purpose {
        grid-column: span 12 / span 6;
    }

    .list-franchise-item .col-md-3 {
        width: 50% !important;
    }

    .franchise-owner-item .col-md-3 {
        width: 50% !important;
        margin-bottom: 20px;
    }

    .franchise-intro .col-md-6{
        width: 100% !important;
        margin-bottom: 20px;
    }

    .row-rmb {
        margin: 0;
    }

    #registerForm .w-\[800px\] {
        width: 100%;
    }

    .duties-row .col-md-3{
        width: 50%;
    }

    [dir="ltr"] .banner-ttext,
    [dir="ltr"] .w-\[600px\]{
        margin: 0 auto;
        text-align: center;
    }

    body .handyman_item .col.text-center,
    .ct-u-paddingBottom100 .row .col.text-center,
    .container .row .col.text-center{
        flex-basis: 50% !important;
        margin-bottom: 20px;
    }

    .handyman_item .col.text-center img,
    .ct-u-paddingBottom100 .row .col.text-center img,
    .container .row .col.text-center img{
        display: block;
        margin: 0 auto;
    }

    img.h-\[500px\] {
        height: auto;
    }
    .w-\[540px\] {
        width: 100% !important;
    }
    .section_wrapper.container .col-md-4,
    .section_wrapper.container .col-md-8 {
        width: 100%;
    }

    [dir="ltr"] .affi-r .col-md-6,
    [dir="ltr"] .affi-r .col-md-4{
        width: 100%;
        text-align: center;
    }
    .affi-r .float-right{
        float: none;
    }
    .affi-r img{
        display: block;
        margin: 0 auto;
    }
    .affi-r .w-\[500px\] {
        width: 100%;
    }

    .grid-ctst {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
    [dir="ltr"] .lst-academy {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
        text-align: center;
    }
    .lst-academy li i{
        display: block;
        margin: 0 auto;
    }

    [dir="ltr"]  .grid-ctst.adv-ct li{
        text-align: center;
    }
    .grid-ctst.adv-ct li img{
        display: block;
        margin: 0 auto;
        float: none;
    }

    .ct-free-advancetages .free-c1{
        width: 100%;
    }
    .ct-free-advancetages .free-c1 img{
        display: block;
        margin: 20px auto;
    }

    .ct-free-advancetages .col-md-9 {
        width: 100%;
    }

    .ct-free-advancetages .col-md-9 .col-md-3{
        width: 50%;
    }

    [dir="ltr"] .w-\[900px\] {
        width: 100% !important;
        text-align: center;
        padding: 0;
    }
    [dir="ltr"] .w-\[900px\] p{
        text-align: center !important;
    }

    .excludesive-tct .col-md-3{
        width: 100%;
        margin-bottom: 30px;

    }

    #regService .col-md-6 {
        width: 100%;
    }

    .col6-100 .col-md-6{
        width: 100%;
        margin-bottom: 20px;
    }

    .col-package-des .col-md-6{
        width: 100%;
        margin-bottom: 20px;
    }
    .col-package-des .col-md-6 img{
        display: block;
        margin: 0 auto;
    }

    .f-r-col .col-md-3,
    .f-r-col .col-md-6 {
        width: 100%;
        margin-bottom: 20px;
    }
    [dir="ltr"] .f-r-col .col-md-3 {
        text-align: center;
    }
    .f-r-col .col-md-3 img {
        display: block;
        margin: 20px auto;
    }

    [dir="ltr"] .buy-r-pa .col-md-2 {
        width: 50%;
        text-align: center;
    }
    .buyer_pack_2 .col-md-6,
    .buyer_pack_3 .col-md-6 {
        width: 100%;
    }

    .flex-wct .col{
        flex-basis: 50%;
        margin-bottom: 30px;
    }

    .fs-4 {
        margin: 20px 0;
    }

    .text-\[50px\] {
        font-size: 32px !important;
    }

    .fx-row-c .col-12 .row {
        margin: 0;
    }
    div.fx-row-c {
        max-width: 90%;
        margin: 0 auto;
    }

    .w100-mb-r .col-3 {
        width: 100%;
        margin-bottom: 20px;
    }
    /* .fx-container {
        max-width: 100%;
    } */

    .grid-ffx {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }

    body div#wrapper .f-s-68 {
        font-size: 35px !important;
    }

    .col100-mb .col-lg-5,
    .col100-mb .col-lg-7{
        width: 100%;
        margin-bottom: 30px;
    }

    .col-ct-mb .col-sm-3{
        width: 50%;
        margin-bottom: 30px;
    }

    div.grid-cols-5 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .km-number .text-white p{
        color: #fff;
    }

    .beautiful-minds .card-box .col-3{
        width: 50%;
        margin-bottom: 30px;
    }
    .beautiful-minds .card-box .col-6{
        margin-top: 30px;
    }

    div.grid-cols-6 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    [dir="ltr"] .our-companies .card-box .col-lg-8.mt-5 {
        text-align: center !important;
    }

    .main-systems .grid-cols-2{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .our-users-groups .card-box.user_images h2{

        font-size: 30px !important;
    }
    .our-users-groups .card-box.user_images .row .col.text-center{

        padding-bottom: 45px;
    }

    /* Home */
    .video-background {

        height: 1200px;

    }
    [dir="ltr"] .slider-h6{
        font-size: 15px;
        margin: 5px;
        text-align: center;

    }

    [dir="ltr"] .home-content{
        text-align: center;
    }
    .bottom-blog{
        margin-bottom: 50px;
    }

    /* Home */
    div.video-foreground {
        height: 500px;
    }
    div.video-background {
        background: #cdcdcd;
        height: 100%;
        position: relative;
    }
    .home-section.layout-6 .home-main {
        height: auto;
        background: #cdcdcd;
    }
    div.vdo-section-content {

        position: relative;
    }

    /* .slider-h1 {
        line-height: 45px !important;
    } */

    .slider-h1{
        font-size: 25px !important;

    }
    section.property-section {
        margin-bottom: 20px;
    }

    .video-section .row > div:last-child{
        margin-bottom: 50px;
    }
    .video-section iframe{
        height: 400px;
    }

    div.statisticsbox {
        margin: 20px 0 !important;
    }

    .vertical-search .col-sm-6{
        width: 100%;
    }

    .main-menu-modal .dropdown-menu{
        margin-left: -5px !important;
    }

    .home-section.layout-6 .home-main .container > .row {
        padding-top: 40px;
    }

    .circle-t {

        font-size: 20px !important;
    }

    ol.ol-step li.flex span.border-blue-600{
        background: #f2c037!important;
        color: #000;
    }

    .property-section .div_feature_property .flex.tabact {
        padding-left: 10px;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        justify-content: start;
        margin: 0 20px;
    }
    .property-section .div_feature_property.space-center .flex.tabact {
        justify-content: center;
    }

    [dir="rtl"] .agent-section .agent-content .row .col:last-child {
        margin-left: 0 !important;
        position: relative;
    }
    [dir="rtl"] .agent-section .agent-content .row .col:last-child a{
        left: 20px;
        position: absolute;
    }

    .sb-chat-btn {
        bottom: 86px !important;
    }
}

@media only screen and (max-width: 769px) {

    [dir="rtl"]  .container {

        max-width: 745px;
    }
    .w-\[800px\] {
        width: 100% !important;
    }

    .h-\[600px\] {
        height: auto !important;
        padding-bottom: 20px !important;
    }

    .w100-mb-r .col-3 {
        width: 100%;
    }
    .mt50-mb {
        margin-top: 50px !important;
    }

    .grid-ffx {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }
    [dir="ltr"] .fx-t-center p{
        text-align: center;
    }

    body .fixed-sidebar {
        top: 100px;
    }
    .fx-p-2 {
        padding-left: 25px !important;
    }

    div.video-foreground {
        height: 400px;
    }

    .agent-section  .agent-contact + .row{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;

    }
    .agent-section  .agent-contact + .row .float-right{
        float: none !important;
        margin: 0 !important;
    }
    .agent-section  .agent-contact + .row .col{
        padding: 0 !important;
    }

    .paginations .pager li {
        margin-bottom: 10px;
    }

    [dir="ltr"]  .circle-t {
        font-size: 4.5vw !important;
        text-align: center !important;

    }
    .circle-t span{
        font-size: 4vw !important;
        display: block !important;
        margin: 0 auto !important;

    }

    .ffipad {
        padding-left: 25px;
    }

    .w100-mb {
        width: 100%;
    }
    .w100-mb label {
        text-align: left !important;
    }

}

@media only screen and (max-width: 767px) {

    [dir="rtl"] .container {
        max-width: 96%;
    }
    [dir="rtl"] footer .footer-links .footer-title span {
        right: inherit;
        left: 10px;
    }

    .single-property-images~.single-property {
        margin-top: 550px;
    }
    .property-section .feature-slider {
        height: 450px;
    }

    .filter-cards .advance-card.feature-card+.advance-card {
        margin-top: 0;
    }
    .single-property-section .btn.btn-dashed {
        margin-bottom: 10px;
    }

    div.single-property-section .left-single h2 {
        font-size: 19px !important;
    }


    .create-property-form .md\:col-span-4,
    .create-property-form .col-span-6{
        grid-column: span 12 / span 12;
    }
    .create-property-form .col-6 {
        width: 100%;
    }
    .create-property-form .col-3, .create-property-form .col-4 {
        width: 100%;
    }

    .pd0-screen {
        padding: 0 !important;
    }

    label[for="credit_ckb"],
    label[for="discount_ckb"] {
        margin: 10px 0 !important;
    }
    label[for="culti_ckb"],
    label[for="has_wheels_ckb"] {
        margin-bottom: 10px !important;
    }

    .rm-grid {
        grid-column: span 12 / span 12;
    }
    .rm-grid .mr-4 {
        margin-right: 0;
    }
    .rm-grid select {
        margin-bottom: 20px;
    }
    .distance-row .md\:col-span-3 {
        margin-right: 10px;
    }

    .tags-input-wrapper span {
        margin-bottom: 10px;
    }
    .select-avatar .form-group.col-sm-3 {
        width: 50%;
    }
    .btn-project-top a {
        margin-bottom: 10px;
    }

    .text-\[50px\] {
        font-size: 30px !important;
    }
    .text-\[40px\] {
        font-size: 20px !important;
    }

    [dir="ltr"]  .excludesive-tct .col-md-3{
        width: 100%;
        text-align: center;
    }
    .excludesive-tct .col-md-3 img,
    #regService .col-md-6  img,
    .col6-100 .col-md-6  img{
        display: block;
        margin: 0 auto;
    }

    [dir="ltr"]  #regService .col-md-6 {
        width: 100%;
        text-align: center;
    }

    [dir="ltr"]  .col6-100 .col-md-6,
    [dir="ltr"]  .col6-100 .col-md-6 .text-justify{
        text-align: center;
    }

    .flex-wct .col{
        flex-basis: 100%;
        margin-bottom: 30px;
    }

    .text-\[50px\] {
        font-size: 22px !important;
    }


    .products-services .col-6 {
        width: 100%;
        margin-bottom: 15px;
    }
    [dir="ltr"]  .products-services .col-10.text-right{
        width: 100%;
        text-align: center;
    }
    [dir="ltr"] .products-services .col-10{
        width: 100%;
        text-align: center;
    }
    [dir="ltr"]  .products-services .col-2 {
        text-align: center;
        width: 100%;
        margin: 10px 0;
    }
    .products-services .col-2 img{
        display: block;
        margin: 0 auto;
        height: auto !important;
    }

    .col-reverse {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
    }

    .products-services p {
        font-size: 13px !important;
    }
    .products-services h1 {
        font-size: 17px !important;
    }

    .slider-h1 {
        font-size: 18px !important;
    }

    .main-menu-modal .tabbed-menu-details {
        padding-left: 20px;
    }
    .main-menu-modal .grid.grid-cols-4 {
        display: block !important;
    }
    .main-menu-modal .h-\[300px\] {
        width: 100% !important;
    }

    .main-menu-modal .flex.items-center.px-2 {
        display: block;
    }
    .main-menu-modal .flex.items-center.px-2 + div,
    .main-menu-modal .flex.items-center.px-2 .flex-1{
        width: 100%;
    }
    .main-menu-modal .flex.items-center.px-2 img {
        display: block;
        margin: 0 auto;
    }

    .main-menu-modal .flex.items-center.px-2 .flex-1 .flex{
        justify-content: center;
        margin: 20px 0;
    }

    section.property-section {
        margin-bottom: 0
    }

    div.video-foreground {
        display: none;
    }

    .property-section .div_feature_property .flex.tabact   {
        padding-left: 10px;
        display: flex;
        flex-wrap: nowrap; /* Allow buttons to wrap to next line */
        /* Make the container scrollable horizontally */
        overflow-x: auto;
        /* Remove scrollbar in Chrome and Safari */
        -webkit-overflow-scrolling: touch;
        justify-content: flex-start !important;
        margin: 0 30px;

    }
    .property-section .div_feature_property .flex.tabact button {
        margin: 0 ;
        min-width: 200px;
    }
    .property-section .div_feature_property .flex.tabact button:first-child {
        margin-left: 0;
    }

    .sub-side-popup-content {
        position: relative !important;
        left: 0;
    }
    .sub-side-popup-content-3 {
        position: relative !important;
        left: 0;
    }

    .fixed-sidebar {
        display: none !important;
    }

    footer .footer {
        display: none;
    }
    .q-drawer--left {
        padding-bottom: 100px !important;
    }

    footer {
        padding-top: 70px;
    }
}

@media only screen and (min-width: 675px) {
    .q-drawer {
        margin-left: 15px;
    }

}

@media only screen and (max-width: 569px) {
    /* property search */
    #properties-filter-form .flex.gap-x-3 {
        display: block;
    }

    #properties-filter-form .flex.gap-x-3 .fs-item {
        width: 100%;
        margin-bottom: 10px;
    }

    .fs-item.location .h-auto {
        width: 100% !important;
    }

    /* #listing_ajax_container .property-grid .col-md-3.wow.fadeInUp {
        width: 50%;
    } */

    .save_search.fs-item div {
        width: 100% !important;
    }

    #properties-filter-form .flex.gap-x-3 .fs-item .fw-mbv {
        width: 100%;
        left: 0;
    }

    #properties-filter-form .flex.gap-x-3 .fs-item .bt-bed-bath button {
        padding: 15px;
    }

    .property-section .div_feature_property .flex.tabact  {
        margin: 0 36px;
        justify-content: flex-start !important;
    }


    /* Map search */

    #google_map_prop_list_sidebar .filter-panel {
        padding: 15px;
    }

    div#google_map_prop_list_sidebar #listing_ajax_container {
        max-width: 100% !important;
        margin: 0;
        padding: 10px;
    }

    div#google_map_prop_list_sidebar,
    div.property_listing {
        position: relative;
        width: 100%;
        top: inherit;
    }

    div#google_map_prop_list_wrapper {
        position: relative;
        width: 100%;
        top: inherit;
    }

    div#google_map_prop_list_wrapper #gmap_wrapper,
    div#google_map_prop_list_wrapper #googleMap {
        height: 550px !important;
    }

    div#google_map_prop_list_sidebar {
        height: 700px;
    }

    .project-single .filter-cards .advance-card.feature-card+.advance-card {
        margin-top: 30px;
    }

    .distance-row .md\:col-span-3 {
        margin-right: 10px;
    }
    .distance-row .mt-4 {
        margin-top: 10px !important;
    }
    .distance-row .mb-4 {
        margin-bottom: 10px !important;
    }

    body .create-property-form  .mb-1 {
        margin: 10px;
    }
    audio {
        width: 100%;
    }
    .ol-step li svg {
        margin: 0 !important;
        padding: 0;
    }

    .list-franchise-item .col-md-3 {
        width: 100% !important;
    }

    .list-franchise-item .col-md-3 .rounded-full{
        float: none;
        display: block;
        margin: 20px auto;
    }
    [dir="ltr"] .list-franchise-item .col-md-3 .fs-6.ml-20{
        text-align: center;
        margin: 0;
    }

    .franchise-owner-item .col-md-3 {
        width: 100%;
        margin-bottom: 20px;
    }

    .individual-area .items-center.flex.radio-inline{
        display: block;
    }

    .duties-row .col-md-3{
        width: 100%;
        margin-bottom: 20px;
    }

    .agent-duties-row .col-md-4 {
        width: 100%;
        margin-bottom: 20px;
    }

    h1.fs-1 {
        font-size: 20px !important;
    }

    p.fs-3.py-2 {
        font-size: 15px !important;
    }

    .h-\[500px\] {
        height: auto;
    }
    .h-\[600px\] {
        height: auto;
    }

    [dir="ltr"] body div#wrapper h2,
    [dir="ltr"]  body h2.fs-2{
        font-size: 20px !important;
        text-align: center
    }

    .fl-nmb, .float-right {
        float: none !important;
        margin: 10px 0;
    }

    .fl-nmb img, .float-right img{
        display: block;
        margin: 0 auto;
    }
    [dir="ltr"]  .w-\[600px\] {
        width: 100% !important;
        text-align: center;
    }

    body .handyman_item .col.text-center,
    .ct-u-paddingBottom100 .row .col.text-center,
    .container .row .col.text-center{
        flex-basis: 100% !important;
        margin-bottom: 20px;
    }

    h5.fs-5 {
        margin-bottom: 20px;
    }

    [dir="ltr"] p.fs-5 {
        font-size: 14px !important;
        text-align: center;
    }

    .w-\[500px\] {
        width: 100% !important;
    }
    .h-\[446px\] {
        height: auto !important;
        padding-bottom: 20px;
    }


    .grid-ctst {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }
    [dir="ltr"]  .lst-academy {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
        text-align: center;
    }

    .ct-free-advancetages .col-md-9 .col-md-3{
        width: 100%;
    }

    [dir="ltr"] body .text-justify {
        text-align: center;
        margin: 10px;
    }

    [dir="ltr"] .buy-r-pa .col-md-2 {
        width: 100%;
        text-align: center;
    }

    [dir="ltr"] .buyer_pack_2 .col-md-6 {
        text-align: center;
    }
    .buyer_pack_2 .col-md-6 img {
        display: block;
        margin: 0 auto;
    }

    p.fs-2.text-justify {
        font-size: 15px !important;
    }
    span.fs-5 {
        font-size: 13px !important;
    }

    div.scroll-tbl {
        width: 95%;
        overflow-y: scroll;
    }

    .pack-tt-fx .fs-2 {
        font-size: 18px !important;
    }
    .pack-tt-fx .fs-4 {
        font-size: 14px !important;
    }

    #registerForm .col-6 {
        width: 100%;
    }

    .new-in-kemedar .card-box .col-10 {
        width: 50%;
    }

    .beautiful-minds .card-box .col-3{
        width: 100%;
    }
    .beautiful-minds .card-box .col-6{
        width: 100%;
    }

    .beautiful-minds .card-box .col-3 p.card-text{
        font-size: 15px !important;
    }

    div.grid-cols-6 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .pltext {
        padding-left: 20px !important;
    }

    .error-section.small-section {
        padding: 30px !important;
    }

    .starfox-heading__h1 {
        font-size: 30px !important;
    }

    div.video-foreground {
        height: 300px;
    }



    /* .property-section .listing-hover-property .property-box .bottom-property {
        bottom: 0;
    } */

    .video-foreground iframe {
        top: -26px !important;

    }

    .main-menu-modal .grid.fx-grid-mega{
        display: grid !important;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .main-menu-modal .flex.items-center.px-2 .flex-1 button{
        margin-bottom: 7px;
    }

    .slick-shadow .arrow-white .slick-arrow {
        bottom: -73px;
    }


    .fx-container {
        padding-left: 30px;
    }

    /* .side-popup-content .sub-side-popup .sub-side-popup-content{
        display: none
    } */

    .circle-t {
        font-size: 5vw !important;
    }
    .fs-4 {
        font-size: 15px !important;
    }

    .km-number .text-white p {
        font-size: 17px !important;
    }
    .km-number .text-white p span{
        font-size: 24px !important;
    }

    #rgisterservices {

        padding: 15px !important
    }
    .about-3 .h-\[300px\] {
        margin-bottom: 20px;
        height: auto;
    }

    .location-comp .fixed.inset-0  .w-full.rounded-t-md{
        top: -50px;
        min-height: 370px;
    }

    [dir="rtl"] .m-top-bar .toooltip .toooltip-content.toooltip-center-currency {
        margin-left: -50px;
        transform: translateX(-58%) !important;
    }

    [dir="rtl"] .m-top-bar .toooltip .toooltip-content.toooltip-center.toooltip-link-3 {
        transform: translateX(-6%) !important;
        margin-left: -50px;
    }
    [dir="rtl"]  .m-top-bar .toooltip .toooltip-content.toooltip-center.toooltip-link-2 {
        transform: translateX(-22%) !important;
        margin-left: -50px;
    }
    [dir="rtl"] .m-top-bar .toooltip .toooltip-content.toooltip-center-sceen {
        transform: translateX(-40%) !important;
        margin-left: -50px;
    }
    [dir="rtl"] .m-top-bar .toooltip .toooltip-content.toooltip-left {
        transform: translateX(-100%) !important;
        margin-left: -37px;
    }
}

@media only screen and (max-width: 435px) {
    a.remove-image {
        right: 10px;
    }
    .gallery-row img{
        max-width: 222px;
    }
    .add-wrap,
    .rm-wrap {
        top: -6px !important;
        right: -4px !important;

    }


    .m-top-bar .toooltip .toooltip-content.toooltip-center.toooltip-link-2 {

        transform: translateX(-40%) !important;
        margin-left: -50px;
    }
    .m-top-bar .toooltip .toooltip-content.toooltip-center.toooltip-link-3 {

        transform: translateX(-60%) !important;
        margin-left: -50px;
    }
    .m-top-bar .toooltip .toooltip-content.toooltip-center-sceen {

        transform: translateX(-24%) !important;
        margin-left: -50px;
    }
    .m-top-bar .toooltip .toooltip-content.toooltip-center-currency {

        transform: inherit !important;
        left: 50%;
        margin-left: -50px;
    }

    .m-top-bar .toooltip:first-child .toooltip-content {
        left: 50%;
        transform: translateX(0%);
        margin-left: 30px;
    }

    /* [dir="rtl"] .m-top-bar .toooltip .toooltip-content.toooltip-center {
        transform: inherit !important;
        left: 50%;
        margin-left: -50px;
    } */


    div.grid-cols-5 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .col-ct-mb .col-sm-3{
        width: 100%;
    }

    div.p-20, div.px-20 {
        padding: 10px;
    }


    div.video-foreground {
        height: 230px;
    }

    .location-comp .form-group.col-6{
        width: 100%;
    }

    .main-menu-modal .grid-cols-3 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .tt-designed-mb {
        font-size: 20px;
    }
    [dir="rtl"] .container {
        max-width: 94%;
    }


    [dir="rtl"] .m-top-bar .toooltip .toooltip-content.toooltip-left {
        transform: translateX(-95%) !important;
        margin-left: -37px;
    }



}
@media only screen and (max-width: 395px) {


    a.remove-image {
        right: 38px;
    }
    /* .ol-step li svg {
       display: none;
    } */
    #registerForm .col-6 {
        width: 100%;
    }
    /* .m-top-bar .toooltip .toooltip-content.toooltip-center {

        transform: translateX(-33%) !important;
        left: 1px;
    } */

    [dir="ltr"] body div#wrapper h2, body h2.fs-2 {
        font-size: 18px !important;
        text-align: center;
    }
    .fs-3 {
        font-size: 14px !important;
    }
    .text-\[50px\] {
        font-size: 20px !important;
    }
    .beautiful-minds .card-box .col-3{
        width: 100%;
    }

    .main-menu-modal .grid.fx-grid-mega{
        display: block !important;
    }
    [dir="rtl"] .container {
        max-width: 94%;
    }

    .m-top-bar .toooltip:first-child .toooltip-content {
        left: 50%;
        transform: translateX(0%);
        margin-left: 14px;
    }
    .m-top-bar .toooltip .toooltip-content.toooltip-center-currency {
        transform: inherit !important;
        left: 0%;
        margin-left: -68px;
    }
    .m-top-bar .toooltip .toooltip-content.toooltip-center.toooltip-link-3 {
        transform: translateX(-53%) !important;
        margin-left: -50px;
    }


    [dir="rtl"] .m-top-bar .toooltip .toooltip-content.toooltip-left {
        transform: translateX(-90%) !important;
        margin-left: -37px;
    }
}

@media only screen and (max-width: 385px) {

    [dir="rtl"] .m-top-bar .toooltip .toooltip-content.toooltip-left.toooltip-languages {
        transform: translateX(-85%) !important;

    }
}


@media only screen and (max-width: 325px) {

    [dir="ltr"]  .m-top-bar .toooltip:first-child .toooltip-content {
        left: 53%;
        transform: translateX(0%);
        margin-left: -10px;
    }



    [dir="ltr"]  .m-top-bar .toooltip .toooltip-content.toooltip-center.toooltip-link-2 {
        transform: translateX(-27%) !important;
        margin-left: -46px;
    }

    [dir="rtl"] .m-top-bar .toooltip .toooltip-content.toooltip-center-currency {
        margin-left: -50px;
        transform: translateX(-50%) !important;
    }

    [dir="rtl"] .container {
        max-width: 93%;
    }
    [dir="rtl"] .m-top-bar .toooltip .toooltip-content.toooltip-left {
        transform: translateX(-80%) !important;
        margin-left: -37px;
    }
    [dir="rtl"] .m-top-bar .toooltip .toooltip-content.toooltip-left.toooltip-languages {
        transform: translateX(-95%) !important;
        margin-left: 0;
        width: 200px;
    }

    [dir="rtl"] .m-top-bar .toooltip .toooltip-content.toooltip-center.toooltip-link-3 {
        transform: translateX(-11%) !important;
        margin-left: -60px;
    }

}

.system-modal-left{
    z-index: 20;
}
