/* media query file style sheet*/

@media only screen and (max-width: 1095px) {

    header {
        flex-direction: column-reverse;
        background-color: #f2c037!important;
        padding: 10px 0;
        gap: 10px;
    }

    /* Topbar stylingsheet  */
    .top-bar {
        display: none;
    }

    .m-top-bar {
        display: block;
    }

    .m-top-bar .top-nav {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 5px;
        justify-content: space-between;
    }

    .m-top-bar .top-nav li {
        color: #2e2e2e;
        border: none;
        font-size: 20px;
        cursor: pointer;
        transition: 0.2s all ease-in;
    }

    .m-top-bar .top-nav li:hover {
        color: #fae2e2;
        transform: scale(1.2);
    }

    .m-top-bar .toooltip,
    .m-top-bar .toooltip-click {
        position: relative;
        display: inline-block;
    }


    .m-top-bar .toooltip .bg-columm-3 {

        transform: translateX(-36%) !important;

    }


    .m-top-bar .toooltip .toooltip-content {
        /*display:none;*/
        position: absolute;
        z-index: 999999999;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
    }

    .m-top-bar .toooltip:first-child .toooltip-content {
        left: 0px;
        transform: translateX(0%);
    }

    .m-top-bar .toooltip:nth-of-type(2) .toooltip-content {
        left: 0px;
        transform: translateX(0%);
    }

    .m-top-bar .toooltip:last-child .toooltip-content {
        right: 0px;
        transform: translateX(0%);
    }

    .m-top-bar .toooltip-click .toooltip-click-content {
        display: none;
        position: absolute;
        z-index: 999999999;
        left: 10%;
        transform: translateX(-10%);
    }

    .m-top-bar .toooltip:hover .toooltip-content {
        display: block;
    }


    /*   topbar countries bar */
    .m-top-bar .toooltip-content .countries {
        border: none;
        background-color: #e5e7eb;
        background-image: url('../images/bg-menu-country.png');
        background-position: bottom center;
        background-repeat: no-repeat;
        /* background-blend-mode: overlay; */
        height: auto;
        list-style: none;
        margin: 0;
        padding: 1em 0.5em;
        border-radius: 0.5em;
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);

    }

    .m-top-bar .toooltip-content .countries > li {
        color: white;
        font-size: 14px;
        background-color: #fda706;
        border-radius: 99999px;
        display: inline-block;
        width: 140px;
        text-align: center;
    }

    .m-top-bar .toooltip-content .countries > ul {
        list-style: none;
        /* margin:0 0 0 20px; */
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .m-top-bar .toooltip-content .countries ul > li {
        font-size: 14px;
        color: black;
        width: 48%;
        font-weight: 400;
        padding: 0.5em 1em;
        border-radius: 0.5em;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    .m-top-bar .toooltip-content .countries ul:first-child > li.active {
        border: 2px solid #fda706;
    }

    .m-top-bar .toooltip-content .countries ul > li:hover {
        background-color: #fff;
    }

    .m-top-bar .toooltip-content .countries ul > li span {
        display: inline-block;
    }

    .m-top-bar .toooltip-content .countries ul > li .count-flag {
        width: 30px;
        border: none;
        height: auto;
    }

    .m-top-bar .toooltip-content .countries ul > li span img {
        width: 100%;
    }

    /* topbar languages bar  */
    .m-top-bar .toooltip-content .languages {
        height: auto;
        list-style: none;
        margin: 0;
        padding: 10px;
        background-color: #e5e7eb;
        border-radius: 0.5em;
        width: 200px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    }

    .m-top-bar .toooltip-content .languages li {
        color: black;
        padding: 5px;
        font-size: 14px;
        width: 100%;
        border-radius: 0.5em;
        font-weight: 400;
    }

    .m-top-bar .toooltip-content .languages li.active:first-child {
        border: 2px solid #fda706;
        border-radius: 0.5em;
    }

    .m-top-bar .toooltip-content .languages li:hover {
        background-color: #facc15;
    }

    .m-top-bar .toooltip-content .languages .lang-flag {
        display: inline-block;
    }

    /* currency */
    .m-top-bar .toooltip-click-content .currenies,
    .m-top-bar .toooltip-content .currenies {
        height: auto;
        background-color: #e5e7eb;
        padding: 10px;
    }

    .m-top-bar .toooltip-click-content .currenies .currency button,
    .m-top-bar .toooltip-content .currenies .currency button {
        width: 100%;
        border: none;
        outline: none;
        background-color: #fda706;
        color: white;
        margin-top: 10px;
        padding: 5px 0;
    }

    .select2-search .select2-search__field {
        border: 1px solid red;
        background-image: url("../images/search-interface-symbol.png");
        background-repeat: no-repeat;
        background-size: 20px auto;
        background-position: center right 10px;
    }

    .m-top-bar .toooltip-click-content .currenies .currency select,
    .m-top-bar .toooltip-content .currenies .currency select {
        width: 200px;
        display: block;
    }

    .m-top-bar .toooltip-click-content .currenies .currency .title,
    .m-top-bar .toooltip-content .currenies .currency .title {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .m-top-bar .toooltip-click-content .currenies .currency .title span,
    .m-top-bar .toooltip-content .currenies .currency .title span {
        display: inline-block;
        border: none;
    }


    /* user about contact */
    .m-top-bar .toooltip-content .grid-menu {
        background-color: #e5e7eb;
        display: block;
        grid-template: auto / auto;
        gap: 10px;
        padding: 20px;
        border-radius: 0.3em;
    }

    .m-top-bar .toooltip-content .menu {
        background-color: #e5e7eb;
        padding: 20px;
        border-radius: 0.3em;
        flex-direction: column;
        align-items: flex-start;
        min-width: max-content;
    }

    .m-top-bar .toooltip-content .menu .item {
        padding: 7px 0;
    }


    .m-top-bar .toooltip-content .grid-menu .items {
        border: none;
        display: flex!important;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        width: auto!important;
    }


    /*   system modal left */
    .system-modal-left {
        position: fixed;
        top: 0;
        right: 0;
        /* background-color: rgba(0, 0, 0, 0.2); */
        z-index: 99999999999;
        width: 100vw;
        height: 100vh;
    }

    .system-modal-left .side-bar {
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 0;
    }

    .system-modal-left .close-modal-left {
        background-color: #ef4444;
        color: white;
        position: absolute;
        display: inline-block;
        top: 20px;
        left: 20px;
        right: auto;
        width: 40px;
        text-align: center;
        line-height: 40px;
        height: 40px;
        font-size: 20px;
        border-radius: 9999px;
        cursor: pointer;
        z-index: 999999999999;
    }

    /*   system modal */
    .system-modal {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 999999999999;
        width: 100vw;
        height: 100vh;
    }

    .system-modal .side-bar {
        background-color: #fff;
        width: 60%;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        overflow: auto;
    }

    .system-modal .close-modal {
        background-color: #ef4444;
        color: white;
        position: absolute;
        display: inline-block;
        top: 20px;
        left: 20px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        height: 40px;
        font-size: 20px;
        border-radius: 9999px;
        cursor: pointer;
    }

    .system-modal .side-bar .title {
        color: #757575;
        letter-spacing: .01786em;
        padding: 20px 20px 5px;
    }

    .system-modal .side-bar .title h4 {
        font-size: 15px;
    }

    .system-modal .side-bar .accordion {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .system-modal .side-bar .accordion .accordion-box {
        height: auto;
    }

    .system-modal .side-bar .accordion .accordion-box .header {
        display: flex;
        flex-direction: row;
        /*justify-content: space-between;*/
        align-items: flex-start;
        font-size: 13px;
        cursor: pointer;
        padding: 5px 20px;
    }

    .system-modal .side-bar .accordion .accordion-box .header:hover {
        background-color: #e5e7eb;
    }

    .system-modal .side-bar .accordion .accordion-box .header span {
        display: inline-block;
    }

    .system-modal .side-bar .accordion .accordion-box .content {
        display: none;
        padding: 20px;
    }

    .system-modal .side-bar .accordion .accordion-box .header span i {
        color: #ef4444;
        font-size: 25px;
        margin-right: 10px;
        display: inline-block;
    }

    .system-modal .side-bar .accordion .accordion-box .header span:first-child {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .system-modal .side-bar .accordion .accordion-box .content {
        border: none;
        height: auto;
    }

    .system-modal .side-bar .accordion .accordion-box .content .content-buttons {
        border: none;
        height: auto;
    }

    .system-modal .side-bar .accordion .accordion-box .content .content-buttons button {
        user-select: none;
        border: 1px solid black;
        border-radius: 3px;
        padding: 4px 16px;
        outline: none;
        background-color: transparent;
        text-transform: uppercase;
        transition: 0.2s all ease-in;
    }

    .system-modal .side-bar .accordion .accordion-box .content .content-buttons button:hover {
        background-color: lightgray;
    }


    .rotate {
        transform: rotate(180deg);
    }

    /*   navigation bar   */
    .nav-bar {
        display: none;
    }

    .m-nav-bar {
        display: block;
    }

    .m-nav-bar .left-side {
        gap: 10px;
    }

    .m-nav-bar .main-logo img {
        width: 120px;
    }

    .m-nav-bar .left-menu button {
        border: none;
        background-color: transparent;
        color: #2e2e2e;
        font-size: 20px;
        transition: 0.2s all ease-in;
        padding: 0;
    }

    .m-nav-bar .left-menu button:hover {
        color: #ef4444;
        transform: scale(1.2);
    }

    .m-nav-bar .right-side {
        gap: 10px;
    }

    .m-nav-bar .dark-toggle button {
        font-size: 20px;
    }

    .m-nav-bar .right-menu button {
        border: 1px solid #2e2e2e;
        color: #2e2e2e;
        background-color: transparent;
        padding: 5px 10px;
        border-radius: 0.5em;
        text-transform: capitalize;
        font-weight: 600;
        transition: 0.2s all ease-in;
    }

    .m-nav-bar .right-menu button:hover {
        color: #ffefef;
        border: 1px solid #ffefef;
    }

    /*  bottom bar */
    .bottom-bar {
        display: none;
    }

    .mobile-bottom-bar {
        display: block;
        position: fixed;
        bottom: 0;
        background-color: #facc15;
        width: 100%;
        border-radius: 30px 30px 0 0;
        padding: 10px 0;
        z-index: 10;
    }

    .mobile-bottom-bar .mobile-nav {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        overflow: auto;
        flex-wrap: nowrap;
        gap: 15px;
    }

    .mobile-bottom-bar .mobile-nav li {
        height: auto;
    }

    .mobile-bottom-bar .mobile-nav li a {
        display: block;
        font-size: 25px;
        cursor: pointer;
        text-align: center;
        color: #2e2e2e;
        transition: 0.2s all ease-in;
    }

    .mobile-bottom-bar .mobile-nav li a:hover {
        color: #fff!important;
    }

    .mobile-bottom-bar .mobile-nav .toooltip-content span {
        color: #ef4444;
    }

    .mobile-bottom-bar .mobile-nav li span {
        color: #2e2e2e!important;
        font-weight: 700;
        display: block;
        font-size: 12px;
    }

    .mobile-bottom-bar .mobile-nav li span:hover {
        color: #fff!important;
    }

    .mobile-bottom-bar .mobile-nav li span.footer-icon {
        color: #ef4444!important;
        font-weight: 700;
        display: block;
        font-size: 15px;
    }

    .mobile-bottom-bar .mobile-nav .toooltip {
        display: inline-block;
        position: relative;
    }

    .mobile-bottom-bar .mobile-nav .toooltip .toooltip-content {
       /* display: none;*/
        position: fixed;
        overflow: auto;
        top: 10vh;
        width: 80vw;
        height: 80vh;
        /* background-color: rgba(0,0,0,0.2); */
        left: 10vw;
        background-color: #e3e3e3;
        border: #d1d5db;
        padding: 30px;
        z-index: 99999999999;
        border-radius: 15px;
    }

    .mobile-bottom-bar .mobile-nav .toooltip .toooltip-content .button {
        border: none;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-bottom-bar .mobile-nav .toooltip .toooltip-content .button button {
        background-color: #facc15;
        padding: 5px 20px;
        border-radius: 0.3em;
        color: white;
        font-weight: 700;
        border: none;
        outline: none;
    }

    .mobile-bottom-bar .mobile-nav .toooltip .toooltip-content ul {
        list-style: none;
        margin: 20px 0 0 0;
        padding: 0;
    }

    .mobile-bottom-bar .mobile-nav .toooltip .toooltip-content ul li {
        display: block;
        width: 100%;
    }

    .mobile-bottom-bar .mobile-nav .toooltip .toooltip-content ul li a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 10px 0px;
        text-decoration: none;
        color: black;
        text-align: left;
        font-weight: bold;
    }

    .fixed-sidebar, .sidebar-main {
        display: none;
    }

}

/* @media only screen and (min-width: 768.5px) and (max-width: 1024px ){
    .top-bar .left-side .nav li i {
        font-size: 23px;
        color: #c02127;
      }

      .top-bar .left-side .nav li {
        font-size:10px;
      }

} */

@media only screen and (min-width: 1095px) and (max-width: 1366px) {
    .top-bar .left-side {
        width: 75%;
    }

    .top-bar .right-side {
        width: 25%;
    }

    .top-bar .left-side .nav li i {
        font-size: 23px;
        color: #c02127;
    }

    .top-bar .left-side .nav li {
        font-size: 9px;
    }
}

@media only screen and (min-width: 1366px) and (max-width: 1440px) {
    .top-bar .left-side .nav li i {
        font-size: 23px;
        color: #c02127;
    }

    .top-bar .left-side .nav li {
        font-size: 11px;
    }
}


.mobile-nav .toooltip-content .close {
    font-size: 20px;
    cursor: pointer;
}
